// Colors.
$green: #62bd83;
$red: #f56a6a;

// Form.
form {
  input, li {
    &.is-hidden {
      display: none;
    }
  }
}

#contact-form {
  .form-group {
    &.has-danger {
      input, textarea {
        border-color: $red;
      }
      .text-help {
        color: $red;
      }
    }
  }

  li.valid {
    color: $green;
  }
}

// Email.
.cryptedmail:after {
  content: attr(data-domain) "." attr(data-tld); 
}

.cryptedmail:before {
  content: attr(data-user) "\0040";
}

// Number.
.cryptednumber:after {
  content: attr(data-exchangecode) "-" attr(data-linenumber); 
}

.cryptednumber:before {
  content: attr(data-areacode) "/";
}
