{{ $content := $.Site.Data.content.panel.contact }}
{{ $social := $.Site.Data.content.social }}

<section class="panel color4-alt">
  <div class="intro color4">
    <h2 class="major">{{ $content.title }}</h2>
    <p>{{ $content.text | markdownify }}</p>
  </div>
  <div class="inner columns divided">
    <div class="span-3">
      <form method="post" id="contact-form" name="contact-form" data-netlify="true" netlify-honeypot="{{ $content.honeypot }}">
        <div class="field half">
          <div class="form-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" required />
          </div>
        </div>
        <div class="field half">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required data-pristine-email-message="Please enter a valid email" />
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <input type="url" name="url" id="url" class="form-control" placeholder="URL (optional)" pattern="/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/gm" data-pristine-pattern-message="Please enter a valid url" />
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <textarea name="message" id="message" rows="4" class="form-control" placeholder="Message" minlength="5" required data-pristine-minlength-message="Please enter a message"></textarea>
            <input type="text" name="{{ $content.honeypot }}" class="is-hidden" />
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="{{ $content.buttonLabel }}" class="button special" /></li>
          <li><input type="reset" value="Reset" class="button"></li>
          <li class="is-hidden sending">Sending message&hellip;</li>
          <li class="is-hidden valid sent">Message sent!</li>
        </ul>
      </form>
    </div>
    <div class="span-2">
      {{ if $social }}
        <ul class="contact-icons color1">
          {{ range $social }}
            <li class="icon {{ .icon }}"><a href="{{ htmlUnescape .url }}" target="_blank">{{ htmlUnescape .label }}</a></li>
          {{ end }}

          {{ with $.Site.Data.resume.basics.email }}
            {{ $email := split $.Site.Data.resume.basics.email "/" }}
            <li class="icon fa-envelope"><a data-user="{{ index $email 2 }}" data-domain="{{ index $email 0 }}" data-tld="{{ index $email 1 }}" href="javascript:void(0);" class="cryptedmail" onclick="window.location.href = 'mailto:' + this.dataset.user + '@' + this.dataset.domain + '.' + this.dataset.tld"></a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</section>
