{{ $content := $.Site.Data.content.panel.experiences }}
{{ $resume := $.Site.Data.resume }}
{{ $dateformat := "Jan 2006" }}
{{ $delimiter := " &nbsp;&bull;&nbsp; " }}

<section class="panel spotlight large">
  <div class="inner columns divided">
    <div class="span-4">
      <h2 class="major">{{ $content.title }}</h2>
      <h3>Work</h3>
      {{ $data := (sort $resume.work "startDate" "desc") }}
      {{ range first 3 $data }}
        {{ $dates := slice (dateFormat $dateformat .startDate) }}
        {{ if .endDate }}
          {{ $dates = $dates | append (dateFormat $dateformat .endDate) }}
        {{ else }}
          {{ $dates = $dates | append "Present" }}
        {{ end }}
        {{ $dates = delimit $dates " &ndash; " }}
        <p><strong>{{ .position }}</strong><br>{{ delimit (slice .company .location $dates) $delimiter }}</p>
      {{ end }}
    </div>

    <div class="span-4">
      <h3>Education</h3>
      {{ $data := (sort $resume.education "endDate" "desc") }}
      {{ range where $data "show" true }}
        <p><strong>{{ .studyType }} in {{ .area }}</strong><br>{{ delimit (slice .institution .location) $delimiter }}</p>
      {{ end }}

      {{ with $content.resume }}
        <ul class="actions">
          <li><a href="{{ .url }}" class="button special color1 small icon {{ .icon }}" target="_blank" rel="nofollow">{{ .text | safeHTML }}</a></li>
        </ul>
      {{ end }}
    </div>
  </div>
  <div class="image filtered tinted" data-position="{{ $content.image.position }}">
    <img src="{{ $content.image.src }}" alt="{{ .Site.Params.name }}" />
  </div>
</section>
