<!DOCTYPE HTML>
<!--
  Ethereal by Pixelarity
  pixelarity.com | hello@pixelarity.com
  License: pixelarity.com/license
-->
<html>
  <head>
    {{ partial "head" . }}
  </head>
  <body>

      <!-- page wrapper -->
      <div id="page-wrapper">

          <!-- wrapper -->
          <div id="wrapper">

            <!-- main content -->
            {{ block "main" . }}{{ end }}

            <!-- copyright -->
            <div class="copyright">&copy; Untitled.</div>

          </div>

      </div>

    <!-- scripts -->
    {{ partial "scripts" . }}

  </body>
</html>
