<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Front-end and Vue Developer">
<meta name="keywords" content="resume,cv,Marko Marković">
<meta name="author" content="Marko Marković">
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Marko Marković — Resume</title>

<link rel="preload" href="/assets/fonts/resume/FiraGO-Medium.latin.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/resume/FiraGO-SemiBold.latin.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/resume/FiraGO-Bold.latin.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/resume/FiraGO-Regular.latin.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/resume/FiraGO-Regular.shared.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/resume/FiraGO-SemiBold.latin-ext.woff2" as="font" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/resume-fonts.css">
<link rel="stylesheet" href="/assets/css/resume.css">
