{{ $data := (sort $.Site.Data.resume.work "startDate" "desc") }}

<section class="mt-8 first:mt-0">

  <!-- To keep in the same column -->
  <div class="break-inside-avoid">
    <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal text-uppercase">Experiences</h2>
    {{ range first 1 $data }}
      {{ partial "resume/experiences-details" . }}
    {{ end }}
  </div>

  {{ range after 1 (first 3 $data) }}
    {{ partial "resume/experiences-details" . }}
  {{ end }}

</section>
