<section class="mt-8 first:mt-0">

  <!-- To keep in the same column -->
  <div class="break-inside-avoid">
    <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">SKILLS</h2>
    <section class="mb-4.5 break-inside-avoid">
      <header>
        <h3 class="text-lg font-semibold text-gray-700 leading-snugish">JavaScript</h3>
        <p class="leading-normal text-md text-gray-650">Middle Level</p>
      </header>
      <p class="mt-2.1 text-md text-gray-700 leading-normal">Good parts: pure function, higher-order functions, factory functions, composition. Bad parts: inheritance, this, new.</p>
      <div class="my-3.2 last:pb-1.5">
        <ul class="flex flex-wrap text-md leading-relaxed -mr-1.6 -mb-1.6">
          <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">ES6</li>
          <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Vue</li>
          <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Functional Programming</li>
          <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Node</li>
        </ul>
      </div>
    </section>
  </div>

  <section class="mb-4.5 break-inside-avoid">
    <header>
      <h3 class="text-lg font-semibold text-gray-700 leading-snugish">Other</h3>
    </header>
    <div class="my-3.2 last:pb-1.5">
      <ul class="flex flex-wrap text-md leading-relaxed -mr-1.6 -mb-1.6">
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">CSS</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Rust</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Git</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Go</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
        Server</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">
        Design</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Photoshop</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Illustrator</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Figma</li>
        <li class="px-2.5 mr-1.6 mb-1.6 text-base text-gray-750 print:bg-white print:border-inset bg-gray-200">Typography</li>
      </ul>
    </div>
  </section>

</section>
