<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="robots" content="noindex, nofollow" />

{{ if .IsHome }}
  {{ with .Site.Params.name }}<meta name="author" content="{{ . }}" />{{ end }}
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}

  <meta property="og:locale" content="en_US" />
  {{ with .Site.Params.name }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
  {{ with .Site.Title }}<meta property="og:title" content="{{ . }}" />{{ end }}
  {{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:type" content="website" />
  {{ with .Site.Params.socialImage }}<meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:card" content="summary_large_image" />{{ end }}
  {{ with .Site.Params.twitter }}<meta name="twitter:site" content="@{{ . }}" />{{ end }}
{{ end }}

<title>{{ .Title }}</title>

<link href="{{ .Site.BaseURL }}" rel="canonical" />

{{ partial "styles" . }}

{{ if not .Site.IsServer }}
  {{ partial "google-global-site-tag" . }}
{{ end }}

{{ if .IsHome }}
  <script type="application/ld+json">
    {
      "@context": "http://www.schema.org",
      "@graph": [
        {
          "@type": "WebSite",
          "name": "{{ .Site.Params.name }}",
          "url": "{{ .Site.BaseURL }}"
        },
        {
          "@type": "Person",
          "name": "{{ .Site.Params.name }}",
          "url": "{{ .Site.BaseURL }}",
          "sameAs": [{{ range $index, $item := $.Site.Data.content.social }}{{ if $index }},{{ end }}"{{ .url }}"{{ end }}]
        }
      ]
    }
  </script>
{{ end }}
